@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<section>
<header>This is a comparison of a few grid components that are available</header>
    <article>
        <header>Kendo UI</header>
        <p>
            Kendo UI is developed by Telerik. They provide a commercial license and an open source license. There are ASP.NET MVC Server side wrappers.
        </p>
    </article>
    <article>
        <header>Fuel UX</header>
        <p>
        Fuel UX is developed ExactTarget    
        </p>
    </article>
</section>
<footer></footer>